@model Liquors.ViewModels.LogInModel

<div class="container">
    <div class="row">
        <div class="col-8">
            @using (Html.BeginForm("LogIn", "Account", FormMethod.Post))
            {
                @Html.EditorForModel();
                @Html.ValidationSummary();
                <button class="btn btn-info">Log In</button>
            }
        </div>
        <div class="col-4">
            <a class="btn btn-link" href="@Url.Action("Register")">Register</a>
        </div>
    </div>

</div>


