<div class="container">
    <div class="row">
        <div class="col-4">
            <a class="btn btn-link" href="@Url.Action("LogIn","Account")">Log In</a>
        </div>
        <div class="col-4">
            <a class="btn btn-link" href="@Url.Action("Register","Account")">Register</a>
        </div>

    </div>

</div>
